@media (max-width: 946px) {
  .formatting-shortcuts, .status-link {
    display: none;
  }
}

@media (max-width: 600px) {
  #counter, .author{
    display: none;
  }

  .popup {
    zoom: 0.8;
    width: 90%;
  }

  #editor {
    padding: 15px;
    padding-top: 70px;
    zoom: 0.8;
  }

  #toolbar {
    top: 0;
    left: 0 !important;
    transform: none;
    flex-direction: row;
    width: 100%;
    padding: 8px;
    border-radius: 0;
    justify-content: center;
    border-left: none;
    border-right: none;
    border-top: none;
    gap: 4px;
  }
  #toolbar button {
    margin: 0 4px;
  }
}